
.pedido-table-overflow {
    width: 100%;
    margin: 16px 0;
}
.pedido-table {
    display: flex;
    flex-direction: column;
}

.pedido-table-header,
.pedido-table-row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 120px 100px 120px 120px 72px;
}

.pedido-table-header > .pedido-table-column {
    padding: 8px;
    background-color: var(--main-bg-color);
}

.pedido-table-header > .pedido-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.pedido-table-header > .pedido-table-column > p {
    color: white;
}

.pedido-table-row > .pedido-table-column input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.pedido-table-row > .pedido-table-column select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.pedido-table-row > .pedido-table-column input,
.pedido-table-row > .pedido-table-column select {
    border-top: none;
    border-left: none;
}
.pedido-table-row > .pedido-table-column input:focus,
.pedido-table-row > .pedido-table-column select:focus {
    background-color: #d6edff;
}
.pedido-table-row > .pedido-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.pedido-table-row > .pedido-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.pedido-table-row > .pedido-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.pedido-table-row:nth-child(2) > .pedido-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.pedido-table-row:last-child > .pedido-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}

.pedido-table[view] > .pedido-table-header > .pedido-table-column:last-child,
.pedido-table[view] > .pedido-table-row > .pedido-table-column:last-child {
    display: none;
}
.pedido-table[view] > .pedido-table-header,
.pedido-table[view] > .pedido-table-row {
    grid-template-columns: minmax(200px, 1fr) 120px 100px 120px 120px;
}
.pedido-table[view] .pedido-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}

.accounting-container {
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 200px 250px;
}

.discount-container {
    grid-template-columns: 80px 1fr;
    grid-gap: 8px;
}

.payments-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 262px 50px;
    grid-gap: 24px;
}
.payments-table-overflow {
    width: 100%;
    overflow: auto;
    justify-self: center;
    height: calc(100% - 30px);
    border-bottom: 1px solid #DDD;
    margin-top: 30px;
}
.payments-table {
    display: flex;
    flex-direction: column;
}
.payments-table-header,
.payments-table-row {
    display: grid;
    grid-template-columns: 84px minmax(96px, 1fr) 32px;
}
.payments-table-header > .payments-table-column {
    padding: 8px;
    background-color: var(--main-bg-color);
}
.payments-table-header > .payments-table-column:nth-child(n + 2),
.payments-table-row > .payments-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.payments-table-header > .payments-table-column > p {
    color: white;
}
.payments-table-row > .payments-table-column > input {
    border-top: none;
    border-right: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.payments-table-row > .payments-table-column > .quantity-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #cccccc;
    padding: 0 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDD;
}
.payments-table-row > .payments-table-column > .quantity-container > img {
    width: 24px;
}
.payments-table-row > .payments-table-column > .quantity-container > p {
    flex-grow: 1;
    text-align: right;
}
.payments-table-row > .payments-table-column > .actions-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-bottom: 1px solid #DDD;
}
.payments-table-row > .payments-table-column > .actions-container > img {
    width: 16px;
    padding: 2px;
    cursor: pointer;
    border-radius: 2px;
}
.payments-table-row > .payments-table-column > .actions-container > img:hover {
    background-color: #DDD;
}
.payments-table-row[cancelled],
.payments-table-row[cancelled] > .payments-table-column > .quantity-container,
.payments-table-row[cancelled] > .payments-table-column > input {
    background-color: #cf8383;
}
.payments-table-row[cancelled] > .payments-table-column > .quantity-container > img {
    filter: grayscale(1);
    cursor: default;
}
.payments-table-row[cancelled] > .payments-table-column > .quantity-container > p {
    text-decoration: line-through;
}

.payments-table[view] > .payments-table-header > .payments-table-column:last-child,
.payments-table[view] > .payments-table-row > .payments-table-column:last-child {
    display: none;
}
.payments-table[view] > .payments-table-header,
.payments-table[view] > .payments-table-row {
    grid-template-columns: 84px minmax(96px, 1fr);
}
.payments-table[view] .quantity-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}
.payments-table[view] .quantity-container > p {
    font-weight: 700;
    color: var(--main-bg-color);
}

@media (max-width: 600px) {
    .accounting-container {
        grid-template-columns: 250px;
    }

    .payments-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .payments-table-overflow {
        height: 250px;
    }
}

@keyframes moveUpPedidoRow {
    0% {
        top: 0px;
        transform: scale(1, 1);
    }
    100% {
        top: -34px;
        transform: scale(1, 1);
    }
}
@keyframes moveDownPedidoRow {
    0% {
        top: 0px;
    }
    100% {
        top: 34px;
    }
}