
.inventario-table-overflow {
    width: 100%;
    overflow: auto;
    margin: 16px 0;
}
.inventario-table {
    display: flex;
    flex-direction: column;
}

.inventario-table-header,
.inventario-table-row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 128px 128px 128px;
}

.inventario-table-header > .inventario-table-column {
    padding: 8px;
    background-color: var(--main-bg-color);
}

.inventario-table-header > .inventario-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.inventario-table-header > .inventario-table-column > p {
    color: white;
}

.inventario-table-row > .inventario-table-column > input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.inventario-table-row > .inventario-table-column > select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.inventario-table-row > .inventario-table-column > input,
.inventario-table-row > .inventario-table-column > select {
    border-top: none;
    border-left: none;
}
.inventario-table-row > .inventario-table-column > input[quantity-negative] {
    background-color: #f0a5a5;
}
.inventario-table-row > .inventario-table-column > input[quantity-positive] {
    background-color: #98e198;
}
.inventario-table-row > .inventario-table-column > input:focus,
.inventario-table-row > .inventario-table-column > select:focus {
    background-color: #d6edff;
}
.inventario-table-row > .inventario-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.inventario-table-row > .inventario-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.inventario-table-row > .inventario-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.inventario-table-row:nth-child(2) > .inventario-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.inventario-table-row:last-child > .inventario-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}