
.clients-header {
    display: flex;
    align-items: center;
}
.clients-header > .actions-container {
    margin-left: 8px;
    padding-left: 4px;
    border-left: 1px solid #DDD;
    display: flex;
    align-items: center;
}
.clients-header > .actions-container > img {
    width: 16px;
    padding: 2px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}
.clients-header > .actions-container > img:hover {
    background-color: #DDD;
}
.clients-header > .actions-container > .client-remove {
    display: none;
    opacity: 0;
}
.clients-header > .actions-container > .client-remove.active {
    display: block;
    opacity: 1;
    animation: bounceSmall 0.2s ease-in-out;
}

.clients-table-overflow {
    margin: 8px 0;
    display: inline-block;
    width: 100%;
    height: 400px;
    overflow: auto;
}
.clients-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.clients-table-header {
    position: sticky;
    top: 0;
    z-index: 2;
}
.clients-table-header,
.clients-table-row {
    min-width: 100%;
    display: grid;
    grid-template-columns: 48px 48px minmax(250px, 1fr) 250px 400px;
}
.clients-table-row.hidden {
    display: none;
}
.clients-table-column {
    padding: 8px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.clients-table-column:nth-child(n + 4) {
    border-left: 1px solid #DDD;
}
.clients-table-column:first-child {
    border-right: 1px solid #DDD;
    position: sticky;
    left: 0;
    z-index: 1;
}
.clients-table-column:nth-child(2) {
    border-right: 1px solid #DDD;
    position: sticky;
    left: 48px;
    z-index: 1;
}

.clients-table-header > .clients-table-column:first-child {
    border-top-left-radius: 8px;
}
.clients-table-header > .clients-table-column:last-child {
    border-top-right-radius: 8px;
}

.clients-table-header > .clients-table-column {
    background-color: var(--main-bg-color);
}
.clients-table-header > .clients-table-column > p {
    color: white;
}

.clients-table-row > .clients-table-column {
    background-color: white;
    border-bottom: 1px solid #DDD;
}
.clients-table-row.odd > .clients-table-column {
    background-color: #F6F6F6;
}

.clients-table-row > .clients-table-column > .routedays-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clients-table-row > .clients-table-column.clients-table-selectable {
    justify-content: center;
}
.clients-table-row > .clients-table-column.clients-table-selectable > .checkmark-container {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #666;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clients-table-row > .clients-table-column.clients-table-selectable > .checkmark-container > .checkmark {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    box-sizing: border-box;
    background-color: transparent;
}
.clients-table-row > .clients-table-column.clients-table-selectable > .checkmark-container:hover > .checkmark {
    background-color: #DDD;
}
.clients-table-row.selected > .clients-table-column.clients-table-selectable > .checkmark-container > .checkmark {
    background-color: var(--main-bg-color);
}
.clients-table-row.selected > .clients-table-column {
    background-color: rgb(255, 255, 175);
}
.clients-table-row.selected:nth-child(even) > .clients-table-column {
    background-color: rgb(250, 250, 175);
}


.clients-table[view] > .clients-table-header,
.clients-table[view] > .clients-table-row {
    grid-template-columns: 48px minmax(250px, 1fr) 250px 400px;
}
.clients-table[view] > .clients-table-header > .clients-table-column:nth-child(1),
.clients-table[view] > .clients-table-row > .clients-table-column:nth-child(1) {
    display: none;
}
.clients-table[view] > .clients-table-header > .clients-table-column:nth-child(2) {
    border-top-left-radius: 8px;
}
.clients-table[view] > .clients-table-header > .clients-table-column:nth-child(2),
.clients-table[view] > .clients-table-row > .clients-table-column:nth-child(2) {
    left: 0;
}

.clients-searcher-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: rgba(0,0,0,0.8);
}
.clients-searcher-container {
    top: 0;
    left: 0;
    max-width: 800px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
}

.searcher-table-overflow {
    width: 100%;
    height: 300px;
    overflow: auto;
    margin: 16px 0;
    display: inline-block;
}
.searcher-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.searcher-table-header {
    position: sticky;
    top: 0;
    z-index: 2;
}
.searcher-table-header,
.searcher-table-row {
    min-width: 100%;
    display: grid;
    grid-template-columns: 48px 48px minmax(300px, 1fr) 300px;
}
.searcher-table-column {
    width: 100%;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.searcher-table-column:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}
.searcher-table-column:nth-child(2) {
    position: sticky;
    left: 48px;
    z-index: 1;
}
.searcher-table-column:not(:last-child) {
    border-right: 1px solid #DDD;
}
.searcher-table-header > .searcher-table-column {
    background-color: var(--main-bg-color);
}
.searcher-table-header > .searcher-table-column > p {
    color: white;
}
.searcher-table-row > .searcher-table-column {
    background-color: white;
    border-bottom: 1px solid #DDD;
}
.searcher-table-row:nth-of-type(2n) > .searcher-table-column {
    background-color: #F6F6F6;
}
.searcher-table-row.even > .searcher-table-column {
    background-color: white;
}
.searcher-table-row.odd > .searcher-table-column {
    background-color: #F6F6F6;
}
.searcher-table-row.hidden {
    display: none;
}
.searcher-table-row > .searcher-table-column.searcher-table-selectable {
    justify-content: center;
}
.searcher-table-row > .searcher-table-column.searcher-table-selectable > .checkmark-container {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #666;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searcher-table-row > .searcher-table-column.searcher-table-selectable > .checkmark-container > .checkmark {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    box-sizing: border-box;
    background-color: transparent;
}
.searcher-table-row > .searcher-table-column.searcher-table-selectable > .checkmark-container:hover > .checkmark {
    background-color: #DDD;
}
.searcher-table-row.selected > .searcher-table-column.searcher-table-selectable > .checkmark-container > .checkmark {
    background-color: var(--main-bg-color);
}
.searcher-table-row.selected > .searcher-table-column {
    background-color: rgb(255, 255, 175);
}
.searcher-table-row.selected:nth-child(even) > .searcher-table-column {
    background-color: rgb(250, 250, 175);
}

.searcher-actions {
    display: flex;
    align-items: center;
}
.searcher-actions > button {
    margin: 0 8px;
}

.map-container {
    margin: 8px 0;
    width: 100%;
}
.map-container > .map {
    width: 100%;
    height: 400px;
}