
.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px 128px 150px minmax(200px, 1fr) 100px;
}

.list-container > .list-row[cancelled] > .list-column {
    background-color: #ff9494;
}
.list-container > .list-row[cancelled]:nth-child(even) > .list-column {
    background-color: #f58585;
}

.gasto-cantidad-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
}
.gasto-cantidad-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.gasto-cantidad-container > img:hover {
    background-color: #DDD;
}