
#content {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}

.latest-sales-container {
    width: 100%;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.latest-sales-container > .latest-sales-graph {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

.visitas-container > .visitas-graph {
    height: 250px;
    box-sizing: border-box;
}

.dashboard-containers {
    margin-top: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
}
.dashboard-containers > .dashboard-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sales-containers > .sales-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 1px solid #DDD;
}
.sales-containers > .sales-container > p {
    color: #666;
}
.sales-containers > .sales-container > .title {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    color: var(--main-bg-color);
}
.sales-containers > .sales-container > .subtitle {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: var(--main-bg-color);
}
.sales-containers > .sales-container > .description {
    text-align: right;
    font-size: 14px;
}
.sales-containers > .sales-container > .description-big {
    text-align: right;
    font-size: 16px;
}

.payments-graph {
    height: calc(100% - 24px);
    min-height: 300px;
}

.top-table,
.top-mostrador-table {
    margin-top: 8px;
}

.top-header,
.top-row {
    display: grid;
    grid-template-columns: 32px 1fr 96px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.top-header {
    padding: 6px 16px;
    background-color: var(--main-bg-color);
}
.top-header > .top-column > p {
    color: white;
    font-weight: 700;
}
.top-row:nth-child(n + 3) {
    border-top: 1px solid #DDD;
}
.top-row > .top-column {
    overflow: hidden;
}
.top-row > .top-column > p {
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-row > .top-column > a {
    color: var(--main-bg-color);
    text-decoration: underline;
    font-size: 12px;
}
.top-row.wait > .top-column {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-row.wait > .top-column > .loading {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px solid var(--main-bg-color);
    border-left-color: transparent;
    border-radius: 50%;
    margin-left: 8px;
    animation: loader 1s linear infinite;
}

.salesmans-table,
.deliveries-table {
    margin-top: 8px;
}

.salesmans-header,
.salesmans-row,
.deliveries-header,
.deliveries-row {
    display: grid;
    grid-template-columns: 32px 1fr 96px;
    padding: 8px 16px;
    box-sizing: border-box;
}
.salesmans-header,
.deliveries-header {
    padding: 6px 16px;
    background-color: var(--main-bg-color);
}
.salesmans-header > .salesmans-column > p,
.deliveries-header > .deliveries-column > p {
    color: white;
    font-weight: 700;
}
.salesmans-row:nth-child(n + 3),
.deliveries-row:nth-child(n + 3) {
    border-top: 1px solid #DDD;
}
.salesmans-row > .salesmans-column,
.deliveries-row > .deliveries-column {
    overflow: hidden;
}
.salesmans-row > .salesmans-column > p,
.deliveries-row > .deliveries-column > p {
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.salesmans-row.wait > .salesmans-column > .loading,
.deliveries-row.wait > .deliveries-column > .loading {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px solid var(--main-bg-color);
    border-left-color: transparent;
    border-radius: 50%;
    margin-left: 8px;
    animation: loader 1s linear infinite;
}

.fecha-selector-container {
    position: relative;
    margin-top: 16px;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.downloads-container .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.downloads-container .link > img {
    width: 16px;
    margin-right: 8px;
}
.downloads-container .link > p {
    color: var(--main-bg-color);
    text-decoration: underline;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
