
.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px minmax(200px, 1fr) 96px 150px 150px 150px 250px;
}

.list-container > .list-row[bloqueado] > .list-column {
    background-color: #ff9b92;
}
.list-container > .list-row[bloqueado]:nth-child(even) > .list-column {
    background-color: #ff8b80;
}
.list-container > .list-row[bloqueado].selected > .list-column {
    background-color: #ffbfb9;
}
.list-container > .list-row[bloqueado].selected:nth-child(even) > .list-column {
    background-color: #ffa9a1;
}

.routedays-containers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.routedays-containers > .routeday-container {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
}
.routedays-containers > .routeday-container > p {
    font-size: 10px;
    font-weight: 700;
    color: #DDD;
}
.routedays-containers > .routeday-container.enabled > p {
    color: #666;
}