
.map-container {
    margin: 8px 0;
    width: 100%;
}
.map-container > .map {
    width: 100%;
    height: 400px;
}

.routedays-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.routedays-container > input {
    width: 8px;
}
.routedays-container > * {
    margin: 16px;
}