
.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px 128px minmax(200px, 1fr) 250px 150px 150px 100px 100px 100px;
}

.list-container > .list-row[cancelled] > .list-column {
    background-color: #ff9494 !important;
}
.list-container > .list-row[cancelled]:nth-child(even) > .list-column {
    background-color: #f58585 !important;
}
.list-container > .list-row[cancelled] > .list-column:nth-child(8) > p{
    font-weight: 700;
    color: rgb(156, 86, 86);
    font-size: 12px;
}

.list-container > .list-row .paystatus-container > p {
    color: rgb(226, 40, 40);
}
.list-container > .list-row[pagado] .paystatus-container > p {
    color: rgb(48, 165, 48);
}

.paystatus-container {
    display: flex;
    align-items: center;
}
.paystatus-container > input {
    margin-right: 8px;
}