
body {
    background: linear-gradient(135deg, #3fe9ff, #1ABAD0);
    width: 100%;
    height: 100vh;
    animation: traslate 2s ease infinite;
}

#content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#login-form {
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
}
#login-form > img {
    display: block;
    width: 196px;
    margin: 0 auto;
}