
form {
    max-width: 1200px;
}

.factura-table-overflow {
    width: 100%;
    margin: 16px 0;
    overflow: auto;
}
.factura-table {
    display: flex;
    flex-direction: column;
}

.factura-table-header,
.factura-table-row {
    position: relative;
    display: grid;
    grid-template-columns: 150px minmax(200px, 1fr) 96px 96px 120px 120px 120px 50px;
}

.factura-table-header > .factura-table-column {
    padding: 8px;
    background-color: #0a3caf;
}

.factura-table-header > .factura-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.factura-table-header > .factura-table-column > p {
    color: white;
}

.factura-table-row > .factura-table-column input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.factura-table-row > .factura-table-column select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.factura-table-row > .factura-table-column input,
.factura-table-row > .factura-table-column select {
    border-top: none;
    border-left: none;
}
.factura-table-row > .factura-table-column input:focus,
.factura-table-row > .factura-table-column select:focus {
    background-color: #d6edff;
}
.factura-table-row > .factura-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.factura-table-row > .factura-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.factura-table-row > .factura-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.factura-table-row:nth-child(2) > .factura-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.factura-table-row:last-child > .factura-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}

.factura-table[view] > .factura-table-header > .factura-table-column:last-child,
.factura-table[view] > .factura-table-row > .factura-table-column:last-child {
    display: none;
}
.factura-table[view] > .factura-table-header,
.factura-table[view] > .factura-table-row {
    grid-template-columns: minmax(200px, 1fr) 96px 128px 128px;
}
.factura-table[view] .factura-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}

.accounting-container {
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 200px 250px;
}

.client-input-container {
    position: relative;
}
.client-input-container > .client-toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 0;
    height: 0;
    border: 6px solid #0a3caf;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
}
.client-input-container > .client-toggle.open {
    top: 6px;
    right: 12px;
    transform: rotate(135deg);
}

.client-data-container {
    display: none;
}
.client-data-container.open {
    display: block;
}

.clave-input-container {
    position: relative;
}
.clave-input-container > img {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.clave-input-container > img:hover {
    background-color: #EEE;
}

.discount-container {
    grid-template-columns: 80px 1fr;
    grid-gap: 8px;
}
.client-actions-container {
    display: flex;
    align-items: center;
}
.client-actions-container > select {
    flex-grow: 1;
}
.client-actions-container > .actions-container {
    display: flex;
    align-items: center;
    margin: 0 8px;
    border-left: 1px solid #DDD;
}
.client-actions-container > .actions-container > img {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    padding: 2px;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.client-actions-container > .actions-container > img:hover {
    background-color: #EEE;
}
.client-actions-container > .actions-container > img.disabled {
    display: none;
}

.client-adder-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
}
.client-adder-form {
    max-width: 600px;
    max-height: calc(100vh - 32px);
    padding: 32px;
    overflow: auto;
}
.client-adder-form > .actions-container {
    display: flex;
    align-items: center;
}
.client-adder-form > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}

/* TABLA RELACIONADOS */

.relacionados-table-overflow {
    width: 100%;
    margin: 16px 0;
    overflow: auto;
}
.relacionados-table {
    display: flex;
    flex-direction: column;
}

.relacionados-table-header,
.relacionados-table-row {
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px minmax(200px, 1fr) 50px;
}

.relacionados-table-header > .relacionados-table-column {
    padding: 8px;
    background-color: #0a3caf;
}

.relacionados-table-header > .relacionados-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.relacionados-table-header > .relacionados-table-column > p {
    color: white;
}

.relacionados-table-row > .relacionados-table-column input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.relacionados-table-row > .relacionados-table-column select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.relacionados-table-row > .relacionados-table-column input,
.relacionados-table-row > .relacionados-table-column select {
    border-top: none;
    border-left: none;
}
.relacionados-table-row > .relacionados-table-column input:focus,
.relacionados-table-row > .relacionados-table-column select:focus {
    background-color: #d6edff;
}
.relacionados-table-row > .relacionados-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.relacionados-table-row > .relacionados-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.relacionados-table-row > .relacionados-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.relacionados-table-row:nth-child(2) > .relacionados-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.relacionados-table-row:last-child > .relacionados-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}

.relacionados-table[view] > .relacionados-table-header > .relacionados-table-column:last-child,
.relacionados-table[view] > .relacionados-table-row > .relacionados-table-column:last-child {
    display: none;
}
.relacionados-table[view] > .relacionados-table-header,
.relacionados-table[view] > .relacionados-table-row {
    grid-template-columns: minmax(200px, 1fr) 96px 128px 128px;
}
.relacionados-table[view] .factura-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}

/* BUSCADOR RELACIONADOS */

.facturadder-overlay {
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 10001;
    transition: opacity 0.2s ease-in-out;
}
.facturadder-container {
    background-color: white;
    padding: 32px;
    width: calc(100% - 32px);
    max-width: 600px;
    box-sizing: border-box;
    border-radius: 8px;
}
.facturadder-table {
    width: 100%;
    height: calc(100vh - 200px);
    max-height: 400px;
    border: 1px solid #DDD;
    overflow-y: auto;
}
.facturadder-table > .facturadder-table-loading {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}
.facturadder-table > .facturadder-table-loading > .loading {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0a3caf;
    border-right-color: transparent;
    animation: loading 2s linear infinite;
}
.facturadder-table > .facturadder-table-loading > p {
    margin: 0 8px;
}
.facturadder-table > .facturadder-table-header,
.facturadder-table > .facturadder-table-row {
    display: grid;
    grid-template-columns: 50px 100px 100px 100px 1fr;
}
.facturadder-table > .facturadder-table-header {
    position: sticky;
    top: 0;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column {
    background-color: #0a3caf;
    color: white;
    border-right: 1px solid white;
    box-sizing: border-box;
    padding: 8px;
}
.facturadder-table > .facturadder-table-row {
    border-bottom: 1px solid #DDD;
}
.facturadder-table > .facturadder-table-row > .facturadder-table-column {
    border-right: 1px solid #DDD;
    box-sizing: border-box;
    padding: 6px 8px;
}
.facturadder-table > .facturadder-table-row[pagado] > .facturadder-table-column > p.saldo-restante {
    color: green;
    font-weight: 700;
}
.facturadder-table > .facturadder-table-row > .facturadder-table-column > .facturadder-selector {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #AAA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.facturadder-table > .facturadder-table-row.selected > .facturadder-table-column {
    background-color: rgb(255, 255, 200);
}
.facturadder-table > .facturadder-table-row.selected > .facturadder-table-column > .facturadder-selector::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #0a3caf;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column:last-child,
.facturadder-table > .facturadder-table-row > .facturadder-table-column:last-child {
    border-right: none;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column > p {
    color: white;
}

.facturadder-container > .actions-container {
    display: flex;
    align-items: center;
}
.facturadder-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}

/* SELECTOR DE PEDIDOS */

.pedidosselector-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);    
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: opacity 0.2s ease-in-out;
}

.pedidosselector-container {
    background-color: white;
    width: calc(100% - 32px);
    max-width: 800px;
    max-height: calc(100vh - 32px);
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pedidosselector-table {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
}

.pedidosselector-header,
.pedidosselector-row {
    display: grid;
    grid-template-columns: 50px 100px 150px 1fr 100px;
}

.pedidosselector-header {
    position: sticky;
    top: 0;
}
.pedidosselector-header > .pedidosselector-column {
    background-color: #0a3caf;
    padding: 8px;
    box-sizing: border-box;
}
.pedidosselector-header > .pedidosselector-column:nth-child(n + 2) {
    border-left: 1px solid white;
}
.pedidosselector-header > .pedidosselector-column > p {
    color: white;
}

.pedidosselector-row > .pedidosselector-column {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    box-sizing: border-box;
}
.pedidosselector-row > .pedidosselector-column:nth-child(n + 2) {
    border-left: 1px solid #ddd;
}
.pedidosselector-row > .pedidosselector-column > .pedidosselector-selector {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #444;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.pedidosselector-row.selected > .pedidosselector-column {
    background-color: rgb(255, 255, 222);
}
.pedidosselector-row.selected > .pedidosselector-column > .pedidosselector-selector::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #0a3caf;
}

@media (max-width: 600px) {
    .accounting-container {
        grid-template-columns: 250px;
    }

    .payments-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .payments-table-overflow {
        height: 250px;
    }
}

@keyframes moveUpfacturaRow {
    0% {
        top: 0px;
        transform: scale(1, 1);
    }
    100% {
        top: -34px;
        transform: scale(1, 1);
    }
}
@keyframes moveDownfacturaRow {
    0% {
        top: 0px;
    }
    100% {
        top: 34px;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}