
.notificaciones-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    height: calc(100vh - 120px);
    overflow-y: auto;
}

.notificacion-container {
    display: grid;
    grid-template-columns: 32px 1fr;
    width: 100%;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    grid-gap: 8px;
}
.notificacion-container.notificacion-unread {    
    background-color: #b7ffaf;
}
.notificacion-container:not(:last-child) {
    border-bottom: 1px solid #DDD;
}
.notificacion-container > .notificacion-icon-container {
    position: relative;
    width: 24px;
    height: 24px;
}
.notificacion-container > .notificacion-icon-container > .notificacion-icon {
    justify-self: center;
    width: 100%;
    height: 100%;
}
.notificacion-container > .notificacion-icon-container > .notificacion-subicon {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}
.notificacion-container.notificacion-unread > .notificacion-icon-container > .notificacion-subicon { 
    background-color: #b7ffaf;
}
.notificacion-container > .notificacion-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.notificacion-container > .notificacion-data > .notificacion-date {
    font-size: 10px;
    color: #888;
}
.notificacion-container > .notificacion-data > .notificacion-description > a {
    color: var(--main-bg-color);
    text-decoration: underline;
}

.notificacion-loading {
    width: 100%;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notificacion-loading > .loader {
    width: 24px;
    height: 24px;
    border: 4px solid var(--main-bg-color);
    border-right-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}