
.custom-table-overflow {
    width: 100%;
    overflow: auto;
    margin: 16px 0;
}
.custom-table {
    display: flex;
    flex-direction: column;
}

.custom-table-header,
.custom-table-row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 128px;
}

.custom-table-header > .custom-table-column {
    padding: 8px;
    background-color: var(--main-bg-color);
}

.custom-table-header > .custom-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.custom-table-header > .custom-table-column > p {
    color: white;
}

.custom-table-row > .custom-table-column > input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.custom-table-row > .custom-table-column > select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.custom-table-row > .custom-table-column > input,
.custom-table-row > .custom-table-column > select {
    border-top: none;
    border-left: none;
}
.custom-table-row > .custom-table-column > input[quantity-negative] {
    background-color: #f0a5a5;
}
.custom-table-row > .custom-table-column > input[quantity-positive] {
    background-color: #98e198;
}
.custom-table-row > .custom-table-column > input:focus,
.custom-table-row > .custom-table-column > select:focus {
    background-color: #d6edff;
}