
.category-container {
    display: flex;
    align-items: center;
}
.category-container > select {
    flex-grow: 1;
}
.category-container > .actions-container {
    display: flex;
    align-items: center;
    margin: 0 8px;
    border-left: 1px solid #DDD;
}
.category-container > .actions-container > img {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    padding: 2px;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.category-container > .actions-container > img:hover {
    background-color: #EEE;
}
.category-container > .actions-container > img.disabled {
    display: none;
}

.clave-input-container {
    position: relative;
}
.clave-input-container > img {
    position: absolute;
    top: 4px;
    right: 6px;
    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.clave-input-container > img:hover {
    background-color: #EEE;
}

.precio-unidad-container {
    border-bottom: 1px solid #EEE;
    padding-bottom: 8px;
    margin-bottom: 16px;
}