
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px minmax(200px, 1fr) 200px 150px 300px 100px 100px;
}

.list-container > .list-row[inventorylow] > .list-column {
    background-color: #ffc268;
}
.list-container > .list-row[inventorylow]:nth-child(even) > .list-column {
    background-color: #ffb84d;
}
.list-container > .list-row[inventorylow].selected > .list-column {
    background-color: #ffdca7;
}
.list-container > .list-row[inventorylow].selected:nth-child(even) > .list-column {
    background-color: #ffd79b;
}

.list-container > .list-row[bloqueado] > .list-column {
    background-color: #ff9b92;
}
.list-container > .list-row[bloqueado]:nth-child(even) > .list-column {
    background-color: #ff8b80;
}
.list-container > .list-row[bloqueado].selected > .list-column {
    background-color: #ffbfb9;
}
.list-container > .list-row[bloqueado].selected:nth-child(even) > .list-column {
    background-color: #ffa9a1;
}

.prices-containers {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prices-containers > .price-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 64px;
    margin-right: 8px;
}
.prices-containers > .price-container > p {
    text-align: right;
}