
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 64px 128px minmax(200px, 1fr) 200px 200px 100px 100px;
}

.list-container > .list-row[cancelled] > .list-column {
    background-color: #ff9494 !important;
}
.list-container > .list-row[cancelled]:nth-child(even) > .list-column {
    background-color: #f58585 !important;
}

.list-news {
    width: calc(100vw - 34px);
    height: 0px;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: #d4edff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00467f;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    position: sticky;
    top: 32px;
    z-index: 2;
}
.list-news.open {
    height: 42px;
}
.list-news > a {
    color: #00467f;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}