
.ticket-table-overflow {
    width: 100%;
    margin: 16px 0;
}
.ticket-table {
    display: flex;
    flex-direction: column;
}

.ticket-table-header,
.ticket-table-row {
    position: relative;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 96px 128px 128px;
}

.ticket-table-header > .ticket-table-column {
    padding: 8px;
    background-color: var(--main-bg-color);
}

.ticket-table-header > .ticket-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.ticket-table-header > .ticket-table-column > p {
    color: white;
}

.ticket-table-row > .ticket-table-column input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.ticket-table-row > .ticket-table-column select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.ticket-table-row > .ticket-table-column input,
.ticket-table-row > .ticket-table-column select {
    border-top: none;
    border-left: none;
}
.ticket-table-row > .ticket-table-column input:focus,
.ticket-table-row > .ticket-table-column select:focus {
    background-color: #d6edff;
}
.ticket-table-row > .ticket-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.ticket-table-row > .ticket-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.ticket-table-row > .ticket-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.ticket-table-row:nth-child(2) > .ticket-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.ticket-table-row:last-child > .ticket-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}

.ticket-table[view] > .ticket-table-header > .ticket-table-column:last-child,
.ticket-table[view] > .ticket-table-row > .ticket-table-column:last-child {
    display: none;
}
.ticket-table[view] > .ticket-table-header,
.ticket-table[view] > .ticket-table-row {
    grid-template-columns: minmax(200px, 1fr) 96px 128px 128px;
}
.ticket-table[view] .ticket-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}

.accounting-container {
    width: 100%;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 200px 250px;
}

.discount-container {
    grid-template-columns: 80px 1fr;
    grid-gap: 8px;
}

@media (max-width: 600px) {
    .accounting-container {
        grid-template-columns: 250px;
    }

    .payments-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .payments-table-overflow {
        height: 250px;
    }
}