
.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px 128px minmax(200px, 1fr) 150px 100px 100px;
}

.list-container > .list-row[cancelled] > .list-column {
    background-color: #ff9494 !important;
}
.list-container > .list-row[cancelled]:nth-child(even) > .list-column {
    background-color: #f58585 !important;
}

.printed-status {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #444;
    background-color: #ff2121;
    box-shadow: -2px -2px 4px 0 rgba(0,0,0,0.2) inset, 2px 2px 2px 0 rgba(255,255,255,0.5) inset, 2px 2px 2px 0 rgba(0,0,0,0.2);
}
.printed-status.printed {
    background-color: #00c1ff;
}

.list-row[payed] > .list-column:nth-child(7) > p {
    font-weight: 700;
    color: rgb(90, 194, 90);
    font-size: 14px;
} 

.list-news {
    width: calc(100vw - 34px);
    height: 0px;
    padding: 0 8px;
    box-sizing: border-box;
    background-color: #d4edff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00467f;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    position: sticky;
    top: 32px;
    z-index: 2;
}
.list-news.open {
    height: 42px;
}
.list-news > a {
    color: #00467f;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 700;
}