
.privileges-containers {
    margin: 8px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 42px);
    grid-gap: 16px;
}
.privileges-containers > .privilege-container {
    width: 42px;
    height: 42px;
    background-color: #EEE;
    padding: 8px;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 6px 0 inset rgba(0,0,0,0.25);
}
.privileges-containers > .privilege-container > img {
    width: 100%;
    height: 100%;
}
.privileges-containers > .privilege-container:hover {
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}
.privileges-containers > .privilege-container.selected {
    background-color: var(--main-bg-color);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}
.privileges-containers > .privilege-container.selected:hover {
    background-color: #266580;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}
.privileges-containers > .privilege-container.selected > img {
    filter: grayscale(1) brightness(2);
    -webkit-filter: grayscale(1) brightness(2);
}

.sections-containers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sections-containers > input {
    width: 8px;
}
.sections-containers > * {
    margin: 16px;
}