
.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    grid-template-columns: 48px 48px minmax(200px, 1fr) 300px 100px;
}

.privileges-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.privileges-container > img {
    width: 16px;
    margin: 0 6px;
}

/* CHANGE PASSWORD */
.changepassword-overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 100000;
}
.changepassword-container {
    width: calc(100% - 32px);
    max-width: 600px;
    background-color: white;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
}
.changepassword-container > .actions-container {
    display: flex;
    align-items: center;
}
.changepassword-container > .actions-container > *:nth-child(2) {
    margin-left: 8px;
}