
.claves-sat-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
}
.claves-sat-container {
    width: calc(100% - 32px);
    max-width: 800px;;
    padding: 32px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: white;
}

.claves-sat-container > .searcher-container {
    display: flex;
    align-items: center;
}
.claves-sat-container > .searcher-container > input {
    flex-grow: 1;
}
.claves-sat-container > .searcher-container > select {
    width: 128px;
    margin-left: 8px;
}

.claves-sat-container > .claves-overlay {
    height: calc(100vh - 128px);
    overflow: auto;
    max-height: 400px;
    background-color: #e9e9e9;
    border-radius: 8px;
    margin: 16px 0;
}
.claves-sat-container > .claves-overlay > .claves-containers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 16px;
    padding: 16px;
}
.claves-sat-container > .claves-overlay > .claves-containers > .clave-container {
    background-color: white;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    color: #444;
}
.claves-sat-container > .claves-overlay > .claves-containers > .clave-container > .clave {
    font-weight: 700;
}
.claves-sat-container > .claves-overlay > .claves-containers > .clave-container:hover {
    background-color: #e7ebff;
}