
.complementospago-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: opacity 0.2s ease-in-out;
}

.complementospago-container {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
}
 
.complementospago-container > .complementospago-title-container {
    display: flex;
    align-items: center;
}
.complementospago-container > .complementospago-title-container > h3 {
    padding-right: 8px;
    margin-right: 4px;
    border-right: 1px solid #DDD;
}

.complementospago-container .actions-container {
    display: flex;
    align-items: center;
}
.complementospago-container .actions-container > img {
    width: 24px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
.complementospago-container .actions-container > img:hover {
    background-color: #EEE;
}

.complementospago-container > .complementospago-table {
    padding: 16px 0;
    max-height: calc(100vh - 280px);
    overflow: auto;
}
.complementospago-container > .complementospago-table > .complementospago-header,
.complementospago-container > .complementospago-table > .complementospago-row {
    display: grid;
    grid-template-columns: 100px 150px minmax(100px, 1fr) 200px 96px;
}
.complementospago-container > .complementospago-table > .complementospago-row.loading {
    grid-template-columns: 1fr;
}

.complementospago-container > .complementospago-table > .complementospago-header > .complementospago-column,
.complementospago-container > .complementospago-table > .complementospago-row > .complementospago-column {
    padding: 8px 6px;
    box-sizing: border-box;
}
.complementospago-container > .complementospago-table > .complementospago-header > .complementospago-column {
    background-color: var(--main-bg-color);
}
.complementospago-container > .complementospago-table > .complementospago-row > .complementospago-column {
    background-color: white;
}
.complementospago-container > .complementospago-table > .complementospago-row:nth-child(even) > .complementospago-column {
    background-color: #FAFAFA;
}
.complementospago-container > .complementospago-table > .complementospago-row[cancelado] > .complementospago-column {
    background-color: rgb(255, 151, 151);
}

.complementospago-container > .complementospago-table > .complementospago-header > .complementospago-column > p {
    color: white;
}
.complementospago-container > .complementospago-table > .complementospago-header > .complementospago-column:nth-child(n + 2) {
    border-left: 1px solid white;
}

.complementopagoadder-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transition: opacity 0.2s ease-in-out;
}

.complementopagoadder-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 8px;
}

.complementopagoadder-container .actions-container {
    display: flex;
    align-items: center;
}
.complementopagoadder-container .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}