.editorprecios-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.editorprecios-container {
    width: calc(100% - 48px);
    max-width: 600px;
    padding: 32px;
    max-height: calc(100% - 48px);
    overflow: auto;
    background-color: white;
    border-radius: 8px;
}

.editorprecios-container > .actions-container {
    display: flex;
    align-items: center;
}
.editorprecios-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}