
.facturaload-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
}

.facturaload-container {
    width: calc(100% - 32px);
    max-width: 600px;
    padding: 32px;
    border-radius: 16px;
    background-color: white;
}

.facturaload-container > .actions-container {
    display: flex;
    align-items: center;
}
.facturaload-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}