
.title-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 8px;
}
.title-container > img {
    width: 32px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.title-container > .title-text {
    padding: 0 8px;
    padding-right: 16px;
}
.title-container > .title-text > * {
    line-height: 100%;
}
.title-container > .actions-container {
    display: flex;
    align-items: center;
    border-left: 1px solid #DDD;
    box-sizing: border-box;
    padding: 0 8px;
    padding-left: 16px;
}
.title-container > .actions-container > a {
    display: flex;
    align-items: center;
}
.title-container > .actions-container > a > img {
    width: 16px;
}

form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 24px 16px;
    background-color: #FBFBFB;
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
    margin-bottom: 32px;
}

.image-container {
    position: relative;
    margin: 8px 0;
    width: 128px;
    height: 128px;
    background-color: white;
    border: 1px solid #DDD;
    cursor: pointer;
}
.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
.image-container:hover::after {
    background-color: rgba(0,0,0,0.25);
}
.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    align-items: center;
}
.buttons-container > button:not(:first-child) {
    margin: 0 8px;
}

.separator {
    width: 100%;
    margin: 16px 0;
    border-top: 1px solid #EEE;
}

input[transparent] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    font-weight: 700;
    color: var(--main-bg-color);
}
select[transparent] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    font-weight: 700;
    color: var(--main-bg-color);
}
textarea[transparent] {
    background-color: transparent;
    resize: none;
    font-weight: 700;
    color: var(--main-bg-color);
}