.gasto-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.gasto-container {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 32px);
    max-width: 400px;
}

.gasto-container > .actions-container {
    display: flex;
}
.gasto-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}