
.gastosprogramados-overlay {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.gastosprogramados-container {
    width: calc(100% - 32px);
    max-width: 1000px;
    max-height: calc(100% - 32px);
    padding: 32px;
    box-sizing: border-box;
    background-color: white;
}

.gastosprogramados-container > .title-container {
    display: flex;
    align-items: center;
    padding: 16px 0;
}
.gastosprogramados-container > .title-container > .actions-container {
    display: flex;
    align-items: center;
    border-left: 1px solid #DDD;
}
.gastosprogramados-container > .title-container > .actions-container img {
    width: 28px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
.gastosprogramados-container > .title-container > .actions-container img:hover {
    background-color: #EEE;
}

.gastosprogramados-container > .gastosprogramados-table {
    height: calc(100vh - 200px);
    max-height: 400px;
    overflow: auto;
}

.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header,
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row {
    display: grid;
    grid-template-columns: 200px minmax(200px, 1fr) 200px 100px 96px;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header > .gastosprogramados-column,
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column {
    padding: 8px;
    box-sizing: border-box;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header > .gastosprogramados-column > p {
    color: white;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column > .actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column > .actions-container > img {
    padding: 2px;
    width: 24px;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 0 2px;
    cursor: pointer;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column > .actions-container > img:hover {
    background-color: #EEE;
}

.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header {
    position: sticky;
    top: 0;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header > .gastosprogramados-column {
    background-color: var(--main-bg-color);
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-header > .gastosprogramados-column:nth-child(n + 2) {
    border-left: 1px solid white;
}

.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column {
    background-color: white;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row:nth-child(even) > .gastosprogramados-column {
    background-color: #F9F9F9;
}
.gastosprogramados-container > .gastosprogramados-table > .gastosprogramados-row > .gastosprogramados-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}

.gastoprogramado-overlay {
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    transition: opacity 0.2s ease-in-out;
}
.gastoprogramado-container {
    width: calc(100% - 32px);
    max-width: 800px;
    padding: 32px;
    background-color: white;
    box-sizing: border-box;
}
.gastoprogramado-container > .actions-container {
    display: flex;
    align-items: center;
}
.gastoprogramado-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}
