* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

:root {
    --main-bg-color: #0f9fb3;
}

body {
    background-color: #EEE;
    overflow-x: hidden;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(/admin/imgs/backgrounds/pattern.png) repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

br {
    display: block;
    margin: 8px 0;
}

p {
    font-size: 12px;
    color: #444;
}
h1, h2, h3 {
    color: #444;
}

button {
    font-size: 12px;
    background-color: #00467F;
    padding: 8px 14px;
    color: white;
    border: 1px solid #00467F;
    margin: 8px 0;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: rgb(43, 104, 153);
}
button[disabled] {
    color: #666;
    background-color: #444;
    border-color: #444;
    cursor: default;
}

input, select, textarea {
    color: #444;
    font-size: 12px;
    background-color: white;
    border: 1px solid #DDD;
    box-sizing: border-box;
    padding: 6px 8px;
    width: 100%;
}
input[type="checkbox"] {
    width: auto;
}
input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 2px 0 #00467F;
}
input[invalid], select[invalid], textarea[invalid] {
    box-shadow: 0 0 2px 0 rgb(216, 56, 56);
}
input[disabled], select[disabled], textarea[disabled] {
    background-color: #CCC;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
textarea {
    resize: vertical;
    min-height: 128px;
}

.hidden {
    display: none !important;
}

.text-color-ltgray {
    color: #666;
}
.text-color-gray {
    color: #444;
}
.text-color-primary {
    color: #00467F;
}
.text-color-secondary {
    color: var(--main-bg-color);
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}

.button-align-center {
    margin: 8px auto;
}

.inputs-containers {
    margin: 8px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 8px 32px;
    box-sizing: border-box;
}
.inputs-containers > .input-container {
    width: 100%;
}
.inputs-containers > .input-container > * {
    margin: 2px 0;
}

/*ESTILOS INPUTS*/

.inp-icon {
    padding-left: 28px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 6px 50%;
}
.inp-icon.inp-price {
    background-image: url(/admin/imgs/icons/inputs/price.png);
}
.inp-icon.inp-route {
    background-image: url(/admin/imgs/icons/inputs/rutas.png);
}
.inp-icon.inp-user {
    background-image: url(/admin/imgs/icons/inputs/usuarios.png);
}
.inp-icon.inp-client {
    background-image: url(/admin/imgs/icons/inputs/clientes.png);
}
.inp-icon.inp-provider {
    background-image: url(/admin/imgs/icons/inputs/proveedores.png);
}
.inp-icon.inp-barcode {
    background-image: url(/admin/imgs/icons/inputs/codigo.png);
}
.inp-icon.inp-search {
    background-image: url(/admin/imgs/icons/buscador.png);
}
.inp-icon.inp-percent {
    background-image: url(/admin/imgs/icons/inputs/percent.png);
    padding-left: 8px;
    padding-right: 28px;
    background-position: calc(100% - 6px) 50%;
}

.inp-unit {
    padding-right: 32px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: calc(100% - 6px) 50%;
}
.inp-gramo {
    background-image: url(/admin/imgs/icons/units/gramo.png);
}
.inp-kilogramo {
    background-image: url(/admin/imgs/icons/units/kilogramo.png);
}
.inp-libra {
    background-image: url(/admin/imgs/icons/units/libra.png);
}
.inp-paquete {
    background-image: url(/admin/imgs/icons/units/paquete.png);
}
.inp-caja {
    background-image: url(/admin/imgs/icons/units/caja.png);
}
.inp-burbuja {
    background-image: url(/admin/imgs/icons/units/burbuja.png);
}
.inp-costal {
    background-image: url(/admin/imgs/icons/units/costal.png);
}
.inp-saco {
    background-image: url(/admin/imgs/icons/units/saco.png);
}
.inp-maso {
    background-image: url(/admin/imgs/icons/units/maso.png);
}
.inp-pieza {
    background-image: url(/admin/imgs/icons/units/pieza.png);
}
.inp-mililitro {
    background-image: url(/admin/imgs/icons/units/mililitro.png);
}
.inp-litro {
    background-image: url(/admin/imgs/icons/units/litro.png);
}
.inp-unidad {
    background-image: url(/admin/imgs/icons/units/unidad.png);
}