
.title-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 8px;
}
.title-container > img {
    width: 32px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.title-container > h3 {
    padding: 0 8px;
    padding-right: 16px;
}
.title-container > .actions-container {
    display: flex;
    align-items: center;
    border-left: 1px solid #CCC;
    box-sizing: border-box;
    padding: 0 8px;
    padding-left: 16px;
}
.title-container > .actions-container > * {
    display: flex;
    align-items: center;
}
.title-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 6px;
}
.title-container > .actions-container > * > img {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
}
.title-container > .actions-container > *:hover > img {
    background-color: white;
}

.list-overflow {
    box-sizing: border-box;
    height: calc(100vh - 200px);
    overflow: auto;
    max-width: 100%;
    margin: 0 8px;
}

.list-container {
    display: inline-block;
    min-width: 100%;
}

.list-container > .list-filler {
    height: 1px;
}

.list-container > .list-filler,
.list-container > .list-header,
.list-container > .list-row {
    display: grid;
    grid-template-columns: 1fr 96px;
    align-items: center;
    box-sizing: border-box;
}
.list-container > .list-filler > .list-column,
.list-container > .list-header > .list-column,
.list-container > .list-row > .list-column {
    width: 100%;
    height: 100%;
    padding: 0 8px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.list-container > .list-header > .list-column:first-child,
.list-container > .list-row > .list-column:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}
.list-container > .list-header > .list-column:nth-child(2),
.list-container > .list-row > .list-column:nth-child(2) {
    position: sticky;
    left: 48px;
    z-index: 1;
}

.list-container > .list-header {
    position: sticky;
    top: 0;
    height: 32px;
    z-index: 2;
}

.list-container > .list-header > .list-column {
    background-color: var(--main-bg-color);
    border-right: 1px solid white;
}
.list-container > .list-header > .list-column:last-child {
    border-top-right-radius: 8px;
}
.list-container > .list-header > .list-column:first-child {
    border-top-left-radius: 8px;
}
.list-container > .list-header > .list-column:nth-child(n + 3) {
    border-right: none;
}
.list-container > .list-header > .list-column:nth-child(n + 4) {
    border-left: 1px solid white;
}

.list-container > .list-header > .list-column > p {
    width: 100%;
    color: white;
}

.list-container > .list-row {
    min-height: 48px;
}
.list-container > .list-row > .list-column {
    padding: 8px 8px;
    background-color: white;
}
.list-container > .list-row:nth-child(even) > .list-column {
    background-color: #F6F6F6;
}
.list-container > .list-row > .list-column:nth-child(n + 4) {
    border-left: 1px solid #DDD;
}
.list-container > .list-row > .list-column:nth-child(1),
.list-container > .list-row > .list-column:nth-child(2) {
    border-right: 1px solid #DDD;
}
.list-container > .list-row > .list-column {
    font-size: 12px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-container > .list-row > .list-column > p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-container > .list-row > .list-column > a {
    color: var(--main-bg-color);
    text-decoration: underline;
}
.list-container > .list-row > .list-column > .actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-container > .list-row > .list-column > .actions-container > img {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    padding: 2px;
    margin: 0 2px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;
}
.list-container > .list-row > .list-column > .actions-container > img:hover {
    background-color: #DDD;
}

.list-container > .list-row.loading-list > .list-column {
    grid-column: 1 / last-line;
    width: calc(100vw - 16px);
    justify-content: center;
}
.list-container > .list-row.loading-list > .list-column > .loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #56ab2f;
    border-right-color: transparent;
    box-sizing: border-box;
    margin: 0 8px;
    animation: loader 1s linear infinite;
}
.list-container > .list-row.loading-list > .list-column > p {
    width: auto;
}

.list-container > .list-row > .list-column.list-selectable {
    justify-content: center;
}
.list-container > .list-row > .list-column.list-selectable > .checkmark-container {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #666;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-container > .list-row > .list-column.list-selectable > .checkmark-container > .checkmark {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    box-sizing: border-box;
    background-color: transparent;
}
.list-container > .list-row > .list-column.list-selectable > .checkmark-container:hover > .checkmark {
    background-color: #DDD;
}
.list-container > .list-row.selected > .list-column.list-selectable > .checkmark-container > .checkmark {
    background-color: var(--main-bg-color);
}
.list-container > .list-row.selected > .list-column {
    background-color: rgb(255, 255, 175);
}
.list-container > .list-row.selected:nth-child(even) > .list-column {
    background-color: rgb(250, 250, 175);
}

.list-container > .list-row.hidden {
    display: none;
}

/* ACCIONES */

.list-actions-container {
    display: flex;
    align-items: center;
    margin: 8px;
    margin-bottom: 16px;
}
.list-actions-container > .selected-counter {
    position: relative;
    padding: 6px 8px;
    background-color: var(--main-bg-color);
    margin-right: 16px;
    box-sizing: border-box;
    width: 158px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
}
.list-actions-container > .selected-counter > p {
    font-size: 12px;
    width: 102px;
    text-align: center;
    margin-right: 8px;
    color: white;
}
.list-actions-container > .selected-counter > .actions-container {
    border-left: 1px solid white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 4px;
}
.list-actions-container > .selected-counter > .actions-container > img {
    width: 16px;
    margin: 4px;
    filter: grayscale(1) brightness(2.6);
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
}
.list-actions-container > .selected-counter > .actions-container > img.active {
    cursor: pointer;
    opacity: 1;
}
.list-actions-container > .actions-container {
    min-height: 28px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-left: 1px solid #CCC;
}
.list-actions-container > .actions-container > img {
    display: none;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}
.list-actions-container > .actions-container > img.active {
    display: initial;
}
.list-actions-container > .actions-container > img:hover {
    background-color: white;
}

@media (max-width:600px) {
    .list-overflow {
        height: calc(100vh - 250px);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes counter-grow {
    0% {
        font-size: 12px;
    }
    50% {
        font-size: 13px;
    }
    100% {
        font-size: 12px;
    }
}