
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 24px 150px 1fr auto 150px;
    grid-gap: 16px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    z-index: 10000;
}

.header-filler {
    width: 100%;
    height: 48px;
}

header > .menu-toggle {
    height: 16px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    cursor: pointer;
}
header > .menu-toggle > div {
    background-color: white;
}

header > .menu-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    display: none;
    opacity: 0;
}
header > .menu-container-overlay > .menu-container {
    background-color: white;
    height: 100%;
    width: 200px;
    display: grid;
    grid-template-rows: 48px repeat(auto-fill, 48px);
    align-items: center;
    overflow: auto;
}
header > .menu-container-overlay > .menu-container > .menu-close {
    margin-left: 8px;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
header > .menu-container-overlay > .menu-container > .menu-close > div {
    width: 24px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: var(--main-bg-color);
}
header > .menu-container-overlay > .menu-container > .menu-close > div:nth-child(1) {
    transform: rotate(45deg);
}
header > .menu-container-overlay > .menu-container > .menu-close > div:nth-child(2) {
    transform: rotate(-45deg);
}
header > .menu-container-overlay > .menu-container > a {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    height: 48px;
    border-top: 1px solid #DDD;
}
header > .menu-container-overlay > .menu-container > a:last-child {
    border-bottom: 1px solid #DDD;
}
header > .menu-container-overlay > .menu-container > a > img {
    justify-self: center;
    width: 18px;
    height: 18px;
}
header > .menu-container-overlay > .menu-container > a > p {
    color: #00467f;
}
header > .menu-container-overlay > .menu-container > a:hover {
    background-color: #00467f;
}
header > .menu-container-overlay > .menu-container > a:hover > img {
    filter: grayscale(1) brightness(2.5);
}
header > .menu-container-overlay > .menu-container > a:hover > p {
    color: white;
}

header > .menu-fast-container {
    display: flex;
    align-items: center;
}
header > .menu-fast-container > .separator {
    justify-self: center;
    height: 16px;
    border-left: 1px solid #EEE;
    margin: 0 16px;
}
header > .menu-fast-container > a {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6px;
    margin: 0 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}
header > .menu-fast-container > a > img {
    width: 100%;
    height: 100%;
    filter: grayscale(1) brightness(2.5);
    -webkit-filter: grayscale(1) brightness(2.5);
    transition: filter 0.2s ease-in-out;
    transition: -webkit-filter 0.2s ease-in-out;
}
header > .menu-fast-container > a:hover,
header > .menu-fast-container > a.selected {
    background-color: white;
}
header > .menu-fast-container > a:hover > img,
header > .menu-fast-container > a.selected > img {
    filter: grayscale(0) brightness(1);
    -webkit-filter: grayscale(0) brightness(1);
}

header > .options-container {
    position: relative;
    width: 100%;
    height: 32px;
    display: grid;
    grid-template-rows: 32px 1fr;
}
header > .sections-container {
    position: relative;
    width: 100%;
    height: 32px;
}
header > .options-container > .options-toggle {
    width: 100%;
    display: grid;
    border: 1px solid #DDD;
    grid-template-columns: 16px 1fr 16px;
    grid-gap: 8px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
header > .sections-container > .sections-toggle {
    width: 100%;
    height: 100%;
    display: grid;
    border: 1px solid #DDD;
    grid-template-columns: 16px 1fr 16px;
    grid-gap: 8px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}
header > .options-container > .options-toggle > img,
header > .sections-container > .sections-toggle > img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    background-color: white;
}
header > .sections-container > .sections-toggle > .section-abbreviation {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    background-color: white;
}
header > .options-container > .options-toggle > p,
header > .sections-container > .sections-toggle > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    transition: color 0.2s ease-in-out;
}
header > .options-container > .options-toggle > .triangle,
header > .sections-container > .sections-toggle > .triangle {
    width: 8px;
    height: 8px;
    border: 4px solid #DDD;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: translateY(-25%) rotate(135deg);
    -webkit-transform: translateY(-25%) rotate(135deg);
    box-sizing: border-box;
}
header > .options-container > .options-toggle:hover,
header > .options-container.open > .options-toggle,
header > .sections-container > .sections-toggle:hover,
header > .sections-container.open > .sections-toggle {
    background-color: white;
}
header > .options-container > .options-toggle:hover > p,
header > .options-container.open > .options-toggle > p,
header > .sections-container > .sections-toggle:hover > p,
header > .sections-container.open > .sections-toggle > p {
    color: #666;
}
header > .options-container > .options {
    width: 100%;
    display: none;
    grid-template-rows: repeat(auto-fill, 32px);
    background-color: white;
    border: 1px solid #DDD;
    border-top: none;
    box-sizing: border-box;
}
header > .sections-container > .sections {
    min-width: 100%;
    display: none;
    background-color: white;
    border: 1px solid #DDD;
    border-top: none;
    box-sizing: border-box;
}
header > .options-container.open > .options {
    display: grid;
}
header > .sections-container.open > .sections {
    display: inline-block;
}
header > .options-container > .options > .option {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
    height: 32px;
}
header > .sections-container > .sections > .section {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
    height: 32px;
}
header > .options-container > .options > .option:not(:first-child),
header > .sections-container > .sections > .section:not(:first-child) {
    border-top: 1px solid #DDD;
}
header > .options-container > .options > .option > img,
header > .sections-container > .sections > .section.section-adming > img {
    width: 16px;
}
header > .sections-container > .sections > .section > .section-abbreviation {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 10px;
    font-weight: 700;
}
header > .sections-container > .sections > .section.section > img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}
header > .options-container > .options > .option > p,
header > .sections-container > .sections > .section > p {
    color: #00467f;
}
header > .sections-container > .sections > .section > p {
    white-space: nowrap;
}
header > .options-container > .options > .option:hover,
header > .sections-container > .sections > .section:hover {
    background-color: #00467f;
}
header > .options-container > .options > .option:hover > img,
header > .sections-container > .sections > .section.section-admin:hover > img {
    filter: grayscale(1) brightness(2.5);
    -webkit-filter: grayscale(1) brightness(2.5);
}
header > .options-container > .options > .option:hover > p,
header > .sections-container > .sections > .section:hover > p {
    color: white;
}

header > .notifications-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
}
header > .notifications-container > img {
    width: 24px;
    height: 24px;
    filter: grayscale(1) brightness(2.5);
    -webkit-filter: grayscale(1) brightness(2.5);
}
header > .notifications-container > .notifications-counter {
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ff3e3e;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}
header > .notifications-container > .notifications-counter > p {
    color: white;
    font-size: 10px;
}

header > .notifications-container.selected {
    background-color: white;
}
header > .notifications-container.selected > .notifications-counter {
    display: none;
}
header > .notifications-container.selected > img {
    filter: grayscale(0) brightness(1);
    -webkit-filter: grayscale(0) brightness(1);
    width: 16px;
    height: 16px;
}

header > .sections-container > .sections-toggle[noaction]:hover {
    background-color: transparent;
}
header > .sections-container > .sections-toggle[noaction]:hover > p {
    color: white;
}
header > .sections-container > .sections-toggle[noaction] > .triangle {
    display: none;
}

@keyframes menuAppear {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes menuDisappear {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 900px) {
    header {
        grid-template-columns: 24px 52px 1fr auto 150px;
    }
    header > .sections-container > .sections-toggle > p {
        display: none;
    }
}

@media (max-width: 810px) {
    header {
        grid-template-columns: 24px 52px auto 1fr;
    }
    header > .sections-container > .sections-toggle > p {
        display: none;
    }
    header > .menu-fast-container {
        display: none;
    }
}