
.payment-container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}
.payment-container {
    width: 200px;
    background-color: #FBFBFB;
    padding: 16px;
    border-radius: 8px;
}
.payment-container > .methods-container {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.payment-container > .methods-container > img {
    width: 42px;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    filter: grayscale(1);
    opacity: 0.5;
}
.payment-container > .methods-container > img:hover {
    background-color: #EEE;
}
.payment-container > .methods-container > img.selected {
    filter: none;
    opacity: 1;
}
.payment-container > .actions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}