.repartidor-overlay {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.repartidor-container {
    width: calc(100% - 32px);
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 32px;
}
.repartidor-container > .actions-container {
    display: flex;
    align-items: center;    
}
.repartidor-container > .actions-container > button:not(:first-child) {
    margin-left: 8px;
}