.tinyproducto-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10000;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.tinyproducto-form {
	width: calc(100% - 32px);
	max-width: 600px;
	padding: 32px;
	box-sizing: border-box;
	background-color: white;
}
.tinyproducto-form > .actions-containers {
	display: flex;
	align-items: center;
}
.tinyproducto-form > .actions-containers > *:nth-child(n + 2) {
	margin-left: 8px;
}