
.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}
.products-list > .product {
    display: flex;
    align-items: center;
    border: 1px solid #DDD;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
}
.products-list > .product > p {
    flex-grow: 1;
}
.products-list > .product > img {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.products-list > .product > img:hover {
    background-color: #DDD;
}