form {
    max-width: 1200px;
}

.custom-table-overflow {
    width: 100%;
    margin: 16px 0;
    overflow: auto;
}
.custom-table {
    display: flex;
    flex-direction: column;
}

.custom-table-header,
.custom-table-row {
    position: relative;
    display: grid;
    grid-template-columns: 100px minmax(200px, 1fr) 150px 150px 150px 50px;
}

.custom-table-header > .custom-table-column {
    padding: 8px;
    background-color: #0a3caf;
}

.custom-table-header > .custom-table-column:nth-child(n + 2) {
    border-left: 1px solid #DDD;
}
.custom-table-header > .custom-table-column > p {
    color: white;
}

.custom-table-row > .custom-table-column input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.custom-table-row > .custom-table-column select {
    padding-top: 7px;
    padding-bottom: 7px;
}
.custom-table-row > .custom-table-column input,
.custom-table-row > .custom-table-column select {
    border-top: none;
    border-left: none;
}
.custom-table-row > .custom-table-column input:focus,
.custom-table-row > .custom-table-column select:focus {
    background-color: #d6edff;
}
.custom-table-row > .custom-table-column > .actions-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
.custom-table-row > .custom-table-column > .actions-container > img {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.custom-table-row > .custom-table-column > .actions-container > img:hover {
    background-color: #EEE;
}
.custom-table-row:nth-child(2) > .custom-table-column > .actions-container > .product-up {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}
.custom-table-row:last-child > .custom-table-column > .actions-container > .product-down {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: default;
}

.custom-table[view] > .custom-table-header > .custom-table-column:last-child,
.custom-table[view] > .custom-table-row > .custom-table-column:last-child {
    display: none;
}
.custom-table[view] > .custom-table-header,
.custom-table[view] > .custom-table-row {
    grid-template-columns: minmax(200px, 1fr) 96px 128px 128px;
}
.custom-table[view] .factura-container {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
}

.client-input-container {
    position: relative;
}
.client-input-container > .client-toggle {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 0;
    height: 0;
    border: 6px solid #0a3caf;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
}
.client-input-container > .client-toggle.open {
    top: 6px;
    right: 12px;
    transform: rotate(135deg);
}

.client-data-container {
    display: none;
}
.client-data-container.open {
    display: block;
}

.facturadder-overlay {
    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 10001;
    transition: opacity 0.2s ease-in-out;
}
.facturadder-container {
    background-color: white;
    padding: 32px;
    width: calc(100% - 32px);
    max-width: 600px;
    box-sizing: border-box;
    border-radius: 8px;
}
.facturadder-table {
    width: 100%;
    height: calc(100vh - 200px);
    max-height: 400px;
    border: 1px solid #DDD;
    overflow-y: auto;
}
.facturadder-table > .facturadder-table-loading {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}
.facturadder-table > .facturadder-table-loading > .loading {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0a3caf;
    border-right-color: transparent;
    animation: loading 2s linear infinite;
}
.facturadder-table > .facturadder-table-loading > p {
    margin: 0 8px;
}
.facturadder-table > .facturadder-table-header,
    .facturadder-table > .facturadder-table-row {
    display: grid;
    grid-template-columns: 50px 100px 1fr 150px 150px;
}
.facturadder-table > .facturadder-table-header {
    position: sticky;
    top: 0;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column {
    background-color: #0a3caf;
    color: white;
    border-right: 1px solid white;
    box-sizing: border-box;
    padding: 8px;
}
.facturadder-table > .facturadder-table-row {
    border-bottom: 1px solid #DDD;
}
.facturadder-table > .facturadder-table-row > .facturadder-table-column {
    border-right: 1px solid #DDD;
    box-sizing: border-box;
    padding: 6px 8px;
}
.facturadder-table > .facturadder-table-row[pagado] > .facturadder-table-column > p.saldo-restante {
    color: green;
    font-weight: 700;
}
.facturadder-table > .facturadder-table-row > .facturadder-table-column > .facturadder-selector {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #AAA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.facturadder-table > .facturadder-table-row.selected > .facturadder-table-column {
    background-color: rgb(255, 255, 200);
}
.facturadder-table > .facturadder-table-row.selected > .facturadder-table-column > .facturadder-selector::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #0a3caf;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column:last-child,
.facturadder-table > .facturadder-table-row > .facturadder-table-column:last-child {
    border-right: none;
}
.facturadder-table > .facturadder-table-header > .facturadder-table-column > p {
    color: white;
}

.facturadder-container > .actions-container {
    display: flex;
    align-items: center;
}
.facturadder-container > .actions-container > *:nth-child(n + 2) {
    margin-left: 8px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}